In [125]:
# 앱키 141de8ee976c44e09de8ee976cf4e099

import pandas as pd
import requests

url = 'https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/141de8ee976c44e09de8ee976cf4e099?'
data = 'startDate=20190101&endDate=201912&emd=이도1동&gender=남&limit=100&number=1'
#number = 3
dt = requests.get(url, data).json()
dt["totCnt"]

9

In [126]:
dt["hasMore"]

False

In [127]:
dt["data"]

[{'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '70대',
  'resdPop': 5043,
  'workPop': 61,
  'visitPop': 4353},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '10세미만',
  'resdPop': 6620,
  'workPop': 463,
  'visitPop': 8891},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '50대',
  'resdPop': 14496,
  'workPop': 1367,
  'visitPop': 14984},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '60대',
  'resdPop': 8701,
  'workPop': 1082,
  'visitPop': 8927},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '30대',
  'resdPop': 9213,
  'workPop': 767,
  'visitPop': 9514},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '80대이상',
  'resdPop': 2332,
  'workPop': 23,
  'visitPop': 1663},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '20대',
  'resdPop': 8227,
  'workPop': 1107,
  'visitPop': 10176},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '10대',
  'resdPop': 8721,
  'workPop': 544,
  'visitPop': 10432},
 {'baseDate': '20190101',
  'city': '제주시',
  'emd': '이도1동',
  'gender': '남',
  'ageGroup': '40대',
  'resdPop': 12005,
  'workPop': 1661,
  'visitPop': 13832}]

In [128]:
df = pd.DataFrame(dt["data"])
df

   baseDate city   emd gender ageGroup  resdPop  workPop  visitPop
0  20190101  제주시  이도1동      남      70대     5043       61      4353
1  20190101  제주시  이도1동      남    10세미만     6620      463      8891
2  20190101  제주시  이도1동      남      50대    14496     1367     14984
3  20190101  제주시  이도1동      남      60대     8701     1082      8927
4  20190101  제주시  이도1동      남      30대     9213      767      9514
5  20190101  제주시  이도1동      남    80대이상     2332       23      1663
6  20190101  제주시  이도1동      남      20대     8227     1107     10176
7  20190101  제주시  이도1동      남      10대     8721      544     10432
8  20190101  제주시  이도1동      남      40대    12005     1661     13832